.recipe-form {
  margin: 0 2em;
}

.recipe-form .ingredients {
  margin-top: 2em;
}

.recipe-form .ingredient-btn {
  display: inline;
  margin-right: 1em;
  text-decoration: none;
  color: #fff;
  padding: 0.25em 0.5em 0em 0.5em;
  border-radius: 5px;
  font-weight: bold;
  border: 0;
}

#add {
  background-color: rgb(243,170,135);
}

#remove {
  background-color: rgb(230,188,86);
}

.ingredient-btn:hover {
  color: #fff;
  border: 1px solid #777;
}

.ingredient-btn img {
  filter: invert(100%);
  padding-bottom: 0.25em;
  margin: 0.25em 0.25em 0.25em 0;
}

.recipe-form .recipe-submit {
  background-color: rgb(243,170,135);
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  padding: 0.3em 0.7em;
}

.recipe-form .recipe-submit:hover {
  border: 1px solid #777;
}

