.recipe-filter {
  margin: 30px auto;
  background-color: #fff;
  padding:1em;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.recipe-filter nav {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}

/* .recipe-filter p {
  font-size: 1em;
  margin: 10px;
} */

.recipe-filter button {
  display: inline-block;
  box-sizing: border-box;
  background-color: rgb(243,170,135);
  color: #fff;
  font-weight: bold;
  font-size: 1.05em;
  border: 0;
  border-radius: 5px;
  margin: 0.3em 0.5em;
  cursor: pointer;
}

.recipe-filter button:last-child {
  border: 0;
}

.recipe-filter button.active {
  background-color: rgb(230,188,86);
} 

@media all and (max-width: 30em){
  .recipe-filter button {
    display: block;
    margin: 0.2em auto;
  }
}