.sidebar {
  width: 300px;
  min-width: 300px;
  background: rgb(167,170,125);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.sidebar-content {
  position: fixed;
  width: inherit;
}

.sidebar .logo {
  padding-top: 3em;
  border-bottom: 2px solid rgba(255,255,255, 0.5);
}

.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
  font-size: 1.25em;
}

.sidebar .links li {
  margin-top: 10px;
}

.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: rgb(249,248,246);
  box-sizing: border-box;
}

.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}

.sidebar .links a.active {
  color: #444;
  background-color:rgb(249,248,246);;
  border-radius: 20px 0 0 20px;
}

.sidebar .links .active img {
  filter: invert(20%);
}